<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Date of birth</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let animal of animals">
      <a>
      <td>{{ animal.name }}</td>
      </a>
      <td>{{ animal.species }}</td>
      <td *ngIf="animal.dateOfBirth"> {{ animal.dateOfBirth }}</td>
      <td *ngIf="!animal.dateOfBirth">Unknown</td>  
      <td><button (click) = "removeAnimal(animal)" class="btn btn-danger">Remove </button>
      </td>   
      <td><button (click) = "moveAnimal(animal)" class="btn btn-danger">Move to top </button>
      </td>    
    </tr>
    </tbody>
</table>
